::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

.bodyWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 5rem;
}

.imgHolder {
	height: 5rem;
	width: 5rem;
}

.imgHolder img {
	height: 100%;
	width: 100%;
}

/* Navigation */

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigationButtonsHolder {
	display: flex;
	overflow: auto;
	width: 80%;
	padding: 0.8rem;
}

.navigationButton {
	display: flex;
	margin: 0 0.625rem;
	text-decoration: none;
	padding: 0.3125rem 0.9375rem;
	border: 1px solid var(--borderColor);
	border-radius: 10px;
	cursor: pointer;
	color: #1558d6;
	background-color: #e8f0f8;
}

.navigationButton:hover {
	text-decoration: none;
}

/* Main Gallery */
.mainGallery {
	width: 80%;
	margin: 1rem auto;
	padding: 5rem;
}

.headingHeading {
	display: grid;
	place-items: center;
}

/* About and Mission and Vision */

.aboutusMission {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 1rem;
}

.aboutusMission .imageContainer {
	display: flex;
	justify-content: center;
	width: 60vw;
	margin: 0.5rem auto;
	max-height: 50vh;
}

.aboutusMission .imageContainer img {
	max-height: 100%;
	max-width: 70%;
}

.aboutusMission .justify {
	width: 70%;
	margin: 1rem 0.5rem;
	text-align: justify;
}

/* Core Committee */

.committeMemberHolder {
	margin: 1rem 2rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

/* Media query for 768 px */

@media only screen and (min-device-width: 500px) and (max-device-width: 1130px) {
	.committeMemberHolder {
		margin: 1rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0.2rem;
	}
}

.committeeMember {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
		0 0 0 1px rgba(10, 10, 10, 0.02);
	border: 0;
	padding: 0.5rem;
	border-radius: 1rem;
}

.committeeMember .committeeMember {
	display: flex;
	flex-direction: column;
}

.committeeMember .committeeMemberDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.committeeMember .committeeMemberDetails span {
	text-align: center;
}

.committeeMember .committeeMemberDesignation,
.committeeMember .committeeMemberContactDetails,
.committeeMember .committeeMemberName {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Petro Vision */

.pertrovisionContainer {
	margin: 1rem;
}

.petrovisionIntro {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 1rem;
	margin: 1rem 3rem;
}

.petrovisionLogoContainer {
	display: flex;
	align-items: center;
}

@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
	.petrovisionIntro {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 1rem 3rem;
	}
	.petrovisionLogoContainer {
		width: 25%;
	}
}

.petrovisionLogoContainer img {
	width: 100%;
}

.petrovisionDetails {
	text-align: justify;
}

.pertrovisionSubTopicContainer {
	margin: 3rem 1rem 1rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.petrovisionSubTopic {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	border-radius: 0.5rem;
	border: 0;
	margin: 0.5rem;
	padding: 0.5rem;
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.petrovisionSubTopicLogo {
	height: 20vh;
	max-width: 35vw;
	display: flex;
	align-items: center;
}

.petrovisionSubTopicLogo img {
	width: 100%;
}

.petrovisionSubTopicDescription {
	margin: 0.5rem;
	padding: 0.5rem;
}

/* Social Initiatives */

.socialSubTopic {
	max-width: 45%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	border-radius: 0.5rem;
	border: 0;
	margin: 0.5rem;
	padding: 0.5rem;
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialSubTopicLogo {
	height: 20vh;
	max-width: 35vw;
	display: flex;
	align-items: center;
}

.socialSubTopicLogo img {
	height: 100%;
}

/* Publication */

.publicationHolder {
	width: 80%;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
}

.publicationLogo {
	display: flex;
	align-items: center;
}

.publicationLogo img {
	max-height: 300px;
}

.publicationDescription {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.publicationHeadingAndDate {
	display: flex;
	flex-direction: column;
}

.publicationHeadingAndDate .publicationheader {
	font-size: 1.5rem;
}

.publicationHeadingAndDate .publicationheaderDate {
	font-size: 1.2rem;
}

.publicationActualDescription {
	text-align: justify;
	margin-top: 0.5rem;
}

/* Social Icons */

.socialIcons {
	width: 40%;
	margin: 2rem auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.socialIconsA {
	display: flex;
	flex: 1;
	justify-content: center;
}

/* Gallery */

.galleryHolderContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.galleryHolder {
	width: 80%;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	overflow: auto;
	white-space: nowrap;
}

.galleryImage img {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    border-radius: 1.4rem;
    text-decoration: none;
    width: 300px;
    height: 300px;
}


/* SPE Resources and Sponsors */

.spelogos, .sponsorsLogo {
	background-color: #FFFFFF;
	width: 80%;
    margin: 1rem auto;
  }
  

  .slide {
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  
  /* Slider */
  .slick-slide {
	  margin: 0px 20px;
  }
  
  .slick-slide img {
	  width: 100%;
  }
  
  .slick-slider
  {
	  position: relative;
	  display: block;
	  box-sizing: border-box;
  
	  -webkit-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
			  user-select: none;
  
	  -webkit-touch-callout: none;
	  -khtml-user-select: none;
	  -ms-touch-action: pan-y;
		  touch-action: pan-y;
	  -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
	  position: relative;
	  display: block;
	  overflow: hidden;
  
	  margin: 0;
	  padding: 0;
  }
  .slick-list:focus
  {
	  outline: none;
  }
  .slick-list.dragging
  {
	  cursor: pointer;
	  cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
	  -webkit-transform: translate3d(0, 0, 0);
		 -moz-transform: translate3d(0, 0, 0);
		  -ms-transform: translate3d(0, 0, 0);
		   -o-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
	  position: relative;
	  top: 0;
	  left: 0;
  
	  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
	  display: table;
  
	  content: '';
  }
  .slick-track:after
  {
	  clear: both;
  }
  .slick-loading .slick-track
  {
	  visibility: hidden;
  }
  
  .slick-slide
  {
	  display: none;
	  float: left;
  
	  height: 100%;
	  min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
	  float: right;
  }
  .slick-slide img
  {
	  display: block;
  }
  .slick-slide.slick-loading img
  {
	  display: none;
  }
  .slick-slide.dragging img
  {
	  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
	  display: block;
  }
  .slick-loading .slick-slide
  {
	  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
	  display: block;
  
	  height: auto;
  
	  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
	  display: none;
  }

/* Event Partners */
.eventPartnersLogoLine {
	width: 80%;
	margin: 1rem auto;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.eventPartnerLogo {
	height: 10rem;
	margin: 0.5rem 3rem;
}

.eventPartnerLogo img {
	height: 70%;
}

/* Copyright */

.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyrightDivider {
	border-right: 1px solid black;
	height: 1rem;
	margin: 0 1rem;
}